html {
  background: #131517;
}

body {
  margin: 0;
  min-width: 320px;
  background: #131517;
}

#app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 30px 16px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  #app {
    padding: 32px;
  }
}
