name: Continuous Integration

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: jdx/mise-action@v2

      - run: pnpm install --frozen-lockfile

      - name: Install Playwright Browsers
        run: pnpm dlx playwright install --with-deps --only-shell

      - run: pnpm run lint

      - run: pnpm run build

      - run: pnpm run test
